<div class="report-container">
  <!-- <div *ngIf="bookCopies"> -->
    <div class="t-Region">
      <div class="t-Region-header">
        <div class="t-Region-headerItems--title">
          Lista egzemplarzy książki
        </div>
        <div class="t-Region-headerItems--button">
          <button type="button" 
                  class="btn btn-primary"
                  (click)="onAddClick()"
                  data-toggle="modal"
                  data-target="#createBookCopyModal">
            <fa name="plus"></fa> Dodaj
          </button>
        </div>
      </div>
      <div class=t-Region-body>
        <div *ngIf="bookCopies.length == 0" class="no-data-found">
          <span>
            <fa name="search"></fa> Nie znaleziono żadnego egzemplarza książki.
          </span>
        </div>
        <div *ngIf="bookCopies.length > 0" class="report-container-inner">
          <div class="table-responsive">
            <table id="bookTable" class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Numer egzemplarza</th>
                  <th scope="col">Lokalizacja</th>
                  <th scope="col">Opis</th>
                  <th scope="col">Dostępność</th>
                  <th scope="col">Wypożyczanie</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bookCopy of bookCopies">
                  <th>
                    <a href="#editBookCopyModal" 
                       data-toggle="modal"
                       (click)="getBookCopy(bookCopy.bookCopyId)"
                       title="Wyświetl szczegóły">
                        <fa name="edit"></fa>
                    </a>
                  </th>
                  <td>{{bookCopy.copyNumber}}</td>
                  <td>{{bookCopy.location}}</td>
                  <td>{{bookCopy.description}}</td>
                  <td *ngIf="bookCopy.available==true" style="background-color:lightgreen">Dostępny</td>
                  <td *ngIf="bookCopy.available==false" style="background-color:red">Niedostępny</td>
                  <td *ngIf="bookCopy.available==true">
                    <a href="#borrowBookCopyModal"
                       data-toggle="modal"
                       (click)="setBorrowDetails(bookCopy.bookCopyId)"
                       title="Wypożycz egzemplarz">
                      Wypożycz
                    </a>
                  </td>
                  <td *ngIf="bookCopy.available==false" style="opacity: 0.4">Egzemplarz wypożyczony</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>

<!-- Add new book copy modal-->
<div class="modal fade" id="createBookCopyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Dodawanie egzemplarza książki</h5>
        <button type="button" sclass="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="bookCopyDetailsForm" (validSubmit)="createBookCopy()">
              <div class="form-group" [customErrorMessages]="customErrorMessages">
                <label class="control-label">Numer egzemplarza</label>
                <input type="text" class="form-control" formControlName="copyNumber">
              </div>
              <div class="form-group" [customErrorMessages]="customErrorMessages">
                <label class="control-label">Lokalizacja</label>
                <input type="text" class="form-control" formControlName="location">
              </div>
              <div class="form-group" [customErrorMessages]="customErrorMessages">
                <label class="control-label">Opis</label>
                <input type="text" class="form-control" formControlName="description">
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary left" data-dismiss="modal">Zamknij</button>
                  <button type="submit" class="btn btn-primary right" >
                      <fa name="plus"></fa> Dodaj
                  </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit book copy modal-->
<div class="modal fade" id="editBookCopyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edytowanie egzemplarza książki</h5>
        <button type="button" sclass="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="bookCopyDetailsForm" (validSubmit)="updateBookCopy()">
              <div class="form-group" [customErrorMessages]="customErrorMessages">
                <label class="control-label">Numer egzemplarza</label>
                <input type="text" class="form-control" formControlName="copyNumber">
              </div>
              <div class="form-group" [customErrorMessages]="customErrorMessages">
                <label class="control-label">Lokalizacja</label>
                <input type="text" class="form-control" formControlName="location">
              </div>
              <div class="form-group" [customErrorMessages]="customErrorMessages">
                <label class="control-label">Opis</label>
                <input type="text" class="form-control" formControlName="description">
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary left" data-dismiss="modal">Zamknij</button>
                  <button *ngIf="bookCopy && bookCopy.available==true"
                          type="button" 
                          class="btn btn-secondary left" 
                          data-dismiss="modal"
                          (click)="onDeleteClick(bookCopy.bookCopyId)">
                    <fa name="trash"></fa> Usuń
                  </button>
                  <button type="submit" class="btn btn-primary right">
                      <fa name="save"></fa> Zapisz
                  </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Borrow book copy modal-->
<div class="modal fade" id="borrowBookCopyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Wypożyczanie egzemplarza książki</h5>
        <button type="button" sclass="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="bookCopyBorrowForm" (validSubmit)="borrowBookCopy()">
              <div class="form-group" [customErrorMessages]="customErrorMessages">
                <label class="control-label">Czytelnik</label>
                <ng-select [items]="readersArray"
                          bindLabel="displayValue"
                          bindValue="readerId"
                          placeholder="Wybierz czytelnika"
                          [(ngModel)]="selectedReaderId"
                          formControlName="readerId">
                </ng-select>
              </div>
              <div class="form-group" [customErrorMessages]="customErrorMessages">
                <label class="control-label">Data wypożyczenia</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                          name="loanDateDP" formControlName="loanDate" ngbDatepicker #loanDate="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="loanDate.toggle()" type="button"><fa name="calendar"></fa></button>
                  </div>
                </div>
              </div>
              <div class="form-group" [customErrorMessages]="customErrorMessages">
                <label class="control-label">Data oddania</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                          name="plannedDueDateDP" formControlName="plannedDueDate" ngbDatepicker #plannedDueDate="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="plannedDueDate.toggle()" type="button"><fa name="calendar"></fa></button>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary left" data-dismiss="modal">Zamknij</button>
                  <button type="submit" class="btn btn-primary right" >
                      <fa name="save"></fa> Wypożycz
                  </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>