<app-loading-spinner *ngIf="!reader">
</app-loading-spinner>
<div *ngIf="reader">
  <div class="t-Region">
    <div class="t-Region-header">
      <div class="t-Region-headerItems--title">
        Szczegóły czytelnika
      </div>
      <div class="t-Region-headerItems--button">
        <button type="button" 
                class="btn btn-primary"
                (click)="onEditClick()"
                data-toggle="modal"
                data-target="#editReaderModal">
            <fa name="edit"></fa> Edytuj
        </button>
      </div>
    </div>
    <div class=t-Region-body>
      <form>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Numer karty</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="cardNumber" value="{{reader.cardNumber}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Imię</label>
          <div class="col-sm-10">
            <input readonly class="form-control-plaintext" id="inputFirstName" value="{{reader.firstName}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Nazwisko</label>
          <div class="col-sm-10">
            <input readonly class="form-control-plaintext" id="inputLastName" value="{{reader.lastName}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Pesel</label>
          <div class="col-sm-10">
            <input readonly class="form-control-plaintext" id="inputPesel" value="{{reader.pesel}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Data urodzenia</label>
          <div class="col-sm-10">
            <input readonly class="form-control-plaintext" id="inputBirthday" value="{{reader.birthday}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Telefon</label>
          <div class="col-sm-10">
            <input readonly class="form-control-plaintext" id="inputPhone" value="{{reader.phone}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input readonly type="email" class="form-control-plaintext" id="inputEmail" value="{{reader.email}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Miasto</label>
          <div class="col-sm-10">
            <input readonly class="form-control-plaintext" id="inputCity" value="{{reader.city}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Ulica</label>
          <div class="col-sm-10">
            <input readonly class="form-control-plaintext" id="inputStreet" value="{{reader.street}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Numer bloku</label>
          <div class="col-sm-10">
            <input readonly class="form-control-plaintext" id="inputStreetNumber" value="{{reader.streetNumber}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Numer mieszkania</label>
          <div class="col-sm-10">
            <input readonly class="form-control-plaintext" id="inputFlatNumber" value="{{reader.flatNumber}}" disabled>
          </div>
        </div>
      </form>
  </div>
</div>
<app-reader-loans [readerId]="reader.readerId"></app-reader-loans>
<!-- <app-reader-returned-loans [readerId]="reader.readerId"></app-reader-returned-loans> -->

<div *ngIf="reader">
  <div class="modal fade" id="editReaderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edycja czytelnika</h5>
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <!-- <fa name="remove"></fa> -->
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <form [formGroup]="formGroup" (validSubmit)="updateReader()">
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Numer karty</label>
                  <input type="text" class="form-control-plaintext" formControlName="cardNumber" value="{{reader.cardNumber}}" disabled>
                </div>
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Imię</label>
                  <input type="text" class="form-control" formControlName="firstName" value="{{reader.firstName}}">
                </div>
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Nazwisko</label>
                  <input type="text" class="form-control" formControlName="lastName" value="{{reader.lastName}}">
                </div>
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Pesel</label>
                  <input type="text" class="form-control" formControlName="pesel" value="{{reader.pesel}}">
                </div>
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Data urodzin</label>
                  <input type="date" class="form-control" formControlName="birthday" value="{{reader.birthday}}">
                </div>
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Telefon</label>
                  <input type="text" class="form-control" formControlName="phone" value="{{reader.phone}}">
                </div>
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Email</label>
                  <input type="email" class="form-control" formControlName="email" value="{{reader.email}}">
                </div>
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Miasto</label>
                  <input type="text" class="form-control" formControlName="city" value="{{reader.city}}">
                </div>
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Ulica</label>
                  <input type="text" class="form-control" formControlName="street" value="{{reader.street}}">
                </div>
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Numer bloku</label>
                  <input type="text" class="form-control" formControlName="streetNumber" value="{{reader.streetNumber}}">
                </div>
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Numer mieszkania</label>
                  <input type="text" class="form-control" formControlName="flatNumber" value="{{reader.flatNumber}}">
                </div>
                <div class="modal-footer">
                    <button type="button" 
                            class="btn btn-secondary left" 
                            data-dismiss="modal">
                      Zamknij
                    </button>
                    <button type="button" 
                            class="btn btn-secondary left" 
                            data-dismiss="modal"
                            (click)="onDeleteClick(reader.readerId)"> 
                      <fa name="trash"></fa> Usuń
                    </button>
                    <button id="save" type="submit" class="btn btn-primary right" >
                        <fa name="save"></fa> Zapisz
                    </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>