.navbar-light .navbar-nav .nav-link {
  color: white;
}

.nav-link:hover {
  color: #afd5ff;
}

.navbar.navbar-light {
  color: white;
}

span.loggedAs {
  vertical-align: middle;
}

@media (min-width:1024px) {
  
  span.loggedAs:after {
    content: "|";
    padding-right: 10px;
    padding-left: 10px;
    color: #3195ff;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.active {
  font-weight: 800;
}
.nav-item:hover {
  background-color: rgba(0,0,0,.1);
}