/* Own styles*/
body {
  background-color: #fdfdfd;
}

.table {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

table tbody th {
  text-align: center;
  vertical-align: middle;
}

.flex-row {
  padding: 16px;
}

.btn {
  margin-right: 5px;
}
