.report-container-inner {
    border: 1px solid #eaeaea !important;
    box-shadow: 0 1px 2px rgba(0,0,0,.05), 0 2px 4px -2px rgba(0,0,0,.075);
  }
  
  .t-Region {
    display: block;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 2px 4px -2px rgba(0,0,0,.075);
    margin-bottom: 16px;
  }
  
  .t-Region-header {
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-bottom: 1px solid rgba(0,0,0,.075);
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.4rem;
    display: flex;
    align-items: center;
  }
  
  .t-Region-headerItems--title {
    flex-grow: 1;
    text-align: left;
    padding: 0.6rem;
    display: flex;
    align-items: center;
  }
  
  .t-Region-headerItems--button {
    text-align: right;
    margin-right: 10px;
  }
  
  .t-Region .t-Region-body {
    padding: 16px;
    min-height: 300px;
  }