<app-loading-spinner *ngIf="!book">
</app-loading-spinner>
<div *ngIf="book">
  <div class="t-Region">
    <div class="t-Region-header">
      <div class="t-Region-headerItems--title">
        Szczegóły książki
      </div>
      <div class="t-Region-headerItems--button">
        <button *ngIf="bookCopies"
                type="button" 
                class="btn btn-secondary"
                (click)="deleteBook()">
          <fa name="trash"></fa> Usuń
        </button>
        <button type="button" 
                class="btn btn-primary"
                (click)="onEditModalClick()"
                data-toggle="modal"
                data-target="#editBookModal">
            <fa name="edit"></fa> Edytuj
        </button>
      </div>
    </div>
    <div class=t-Region-body>
      <form>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">ISBN</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="cardNumber" value="{{book.isbn}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Tytuł (PL)</label>
          <div class="col-sm-10">
            <input readonly class="form-control-plaintext" id="inputFirstName" value="{{book.titlePL}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Tytuł (EN)</label>
          <div class="col-sm-10">
            <input readonly class="form-control-plaintext" id="inputLastName" value="{{book.titleEn}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Autor</label>
          <div class="col-sm-10">
            <input readonly class="form-control-plaintext" id="inputPesel" value="{{book.author}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Opis</label>
          <div class="col-sm-10">
            <input readonly class="form-control-plaintext" id="inputBirthday" value="{{book.description}}" disabled>
          </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Gatunek</label>
            <div class="col-sm-10">
              <input readonly class="form-control-plaintext" id="inputStreetNumber" value="{{book.genreName}}" disabled>
            </div>
          </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Wydawnictwo</label>
          <div class="col-sm-10">
            <input readonly class="form-control-plaintext" id="inputPhone" value="{{book.publisherName}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Numer wydania</label>
          <div class="col-sm-10">
            <input readonly type="email" class="form-control-plaintext" id="inputEmail" value="{{book.editionNumber}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Data wydania</label>
          <div class="col-sm-10">
            <input readonly class="form-control-plaintext" id="inputCity" value="{{book.editionDate}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Miejsce wydania</label>
          <div class="col-sm-10">
            <input readonly class="form-control-plaintext" id="inputStreet" value="{{book.editionPlace}}" disabled>
          </div>
        </div>
      </form>
  </div>
</div>
<app-book-copies [bookId]="book.bookId"></app-book-copies>

<!-- Edit book - Modal -->
<div *ngIf="book">
  <div class="modal fade" id="editBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edycja książki</h5>
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <form [formGroup]="formGroup" (validSubmit)="bookUpdate()">
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">ISBN</label>
                  <input type="text" class="form-control-plaintext" formControlName="isbn" value="{{book.isbn}}" disabled>
                </div>
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Tytuł (PL)</label>
                  <input type="text" class="form-control" formControlName="titlePL" value="{{book.titlePL}}">
                </div>
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Tytuł (EN)</label>
                  <input type="text" class="form-control" formControlName="titleEn" value="{{book.titleEn}}">
                </div>
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Autor</label>
                  <input type="text" class="form-control" formControlName="author" value="{{book.author}}">
                </div>
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Opis</label>
                  <input type="text" class="form-control" formControlName="description" value="{{book.description}}">
                </div>
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Gatunek</label>
                  <input type="text" class="form-control" formControlName="genreName" value="{{book.genreName}}">
                </div>
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Wydawnictwo</label>
                  <input type="text" class="form-control" formControlName="publisherName" value="{{book.publisherName}}">
                </div>
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Numer wydania</label>
                  <input type="text" class="form-control" formControlName="editionNumber" value="{{book.editionNumber}}">
                </div>
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Data wydania</label>
                  <input type="date" class="form-control" formControlName="editionDate" value="{{book.editionDate}}">
                </div>
                <div class="form-group" [customErrorMessages]="customErrorMessages">
                  <label class="control-label">Miejsce wydania</label>
                  <input type="text" class="form-control" formControlName="editionPlace" value="{{book.editionPlace}}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">Zamknij</button>
                    <button id="save" type="submit" class="btn btn-primary" >
                        <fa name="save"></fa> Zapisz
                    </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input [(ngModel)]="reader.firstName" [ngModelOptions]="{updateOn: 'blur'}" type="text" class="form-control-plaintext" id="staticEmail" value="{{reader.firstName}}" />
            </div>
            ON BLUR JEST !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! TO JEST ISTOTNE
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" id="staticEmail" value="{{reader.lastName}}">
            </div>
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                        name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
            </div>
  
-->


<!-- Modal  DZIALAJACY MODAL Z WALIDCJAMI
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <form [formGroup]="formGroup" (validSubmit)="onSubmit()">
                    <div class="form-group">
                      <label class="control-label">Email</label>
                      <input type="text" class="form-control" formControlName="Email">
                      <bfv-messages>test</bfv-messages>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Password</label>
                      <input type="password" class="form-control" formControlName="Password">
                    </div>
                    <button class="btn btn-default" type="button" (click)="onReset()">Reset</button>
                    <button class="btn btn-primary pull-right" type="submit">Submit</button>
                    <bfv-messages></bfv-messages>
                  </form>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
              </div>
            
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
      </div>
    </div>
  </div>-->